$desktop-width: 580px;
$blue-color--lighter: #78BCFF;
$blue-color--light: #6DABE8;
$blue-color: #1e90ff;
$red-color: #ff5643;
$yellow-color: #feef33;
$green-color: #bede15;
$blue-btn: $blue-color;
$red-btn: $red-color;
$yellow-btn: $yellow-color;
$green-btn: $green-color;
$btn-color--main: $blue-color--light;
$btn-color--main-hover: $blue-color--lighter;